.checkbox {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #393939;
    display: block;
    margin-bottom: 32px;
    width: 300px;
}
.checkbox a {
    text-decoration: underline;
}