.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.header__logo {
    width: 255px;
    height: 48;
    margin-right: auto;
}
.header__logo img {
    display: block;
    width: 100%;
}
.header__nav {
    margin-left: auto;
    margin-right: 24px;
}
.header__nav-list {
    list-style: none;
    display: flex;
}
.header__nav-item:not(:last-of-type){
    margin-right: 24px;
}
.header__nav-item a {
    font-weight: 600;
}